<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>全体シフト</title>
    <link rel="stylesheet" href="/css/confirm.css"></style>
  </head>
  <body>
    <h1>全体シフト</h1>
    <div class="hidden_box">
      <label for="label1">フィルター</label>
      <input type="checkbox" id="label1">
      <div class="hidden_show">
        <form action="/filter" method="post">
          <input type="date" name="date">
          <% var used = [0123456789876543210];%>
          <% var u = 1;%>
            <% for(i = 0; i < shifts.length; i++){
              var flag = true;
              for(j = 0; j < used.length; j++){
                if(used[j] == shifts[i].id){%>
                  <% flag = null; %>
                  <% break; %>
                <% } %>
              <% } %>
              <%if(flag){
                used[u] = shifts[i].id; %>
                <% u++; %>
                <input type="radio" name="person" value="<%= shifts[i].id %>"><%= shifts[i].name %>
              <% } %>
            <% } %>
            <input type="radio" name="person" value=0123456789876543210 checked="checked">全員
          <input type="submit" value="検索">
        </form>
        <a href="/confirm">フィルタリングを解除する</a>
      </div>
    </div>
    <table width="80%">
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>役職</th>
        <th>日付</th>
        <th>希望開始時間</th>
        <th>希望終了時間</th>
        <th>備考</th>
      </tr>
      <% shifts.forEach((shift)=>{ %>
      <tr>
        <td><%= shift.id %></td>
        <td><%= shift.name %></td>
        <td>
          <% if(shift.admin_flag == 1){ %>
            社員
          <% }else{ %>
            アルバイト
          <% } %>
        </td>
        <td><%= shift.YEAR %>/<%= shift.MONTH %>/<%= shift.DAY %><% switch(shift.DAYOFWEEK){
          case 1: %>
            (日)
            <% break; %>
          <% case 2: %>
            (月)
            <% break; %>
          <% case 3: %>
            (火)
            <% break; %>
          <% case 4: %>
            (水)
            <% break; %>
          <% case 5: %>
            (木)
            <% break; %>
          <% case 6: %>
            (金)
            <% break; %>
          <% case 7: %>
            (土)
            <% break;} %></td>
        <td><%= shift.STARTTIME %></td>
        <td><%= shift.ENDTIME %></td>
        <td><%= shift.ex %></td>
      </tr>
    <% }) %>
  </table>
  <br>
  <button type="button" onClick="history.back()">戻る</button>
  </body>
</html>
