<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>従業員一覧</title>
    <link rel="stylesheet" href="/css/employee.css"></style>
  </head>
  <body>
    <h1>従業員一覧</h1>
    <table width="80%">
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>役職</th>
        <th>作成日</th>
        <th></th>
        <th></th>
      </tr>
      <% employees.forEach((employee)=>{ %>
        <tr>
          <td><%= employee.id %></td>
          <td><%= employee.name %></td>
          <td>
            <% if(employee.admin_flag == 1){ %>
              社員
            <% }else{ %>
              アルバイト
            <% } %>
          </td>
          <td><%= employee.date %></td>
          <td><a href="/editemployee/<%= employee.id %>">編集</a></td>
          <td>
            <form action="/deleteemployee/<%= employee.id %>" method="post">
              <input type="submit" value="削除">
            </form>
          </td>
        </tr>
      <% }) %>
    </table>
  <br>
    <button type="button" onClick="history.back()">戻る</button>
  </body>
</html>
