<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>シフト確認</title>
    <link rel="stylesheet" href="/css/confirm.css"></style>
  </head>
  <body>
    <% var confirm;%>
    <h1><%= shifts[0].MONTH %>月<%= shifts[0].DAY %>日</h1>
    <div class="hidden_box">
      <label for="label1">フィルターをかける</label>
      <input type="checkbox" id="label1">
      <div class="hidden_show">
        <form action="/filter" method="post">
          <input type="date" name="date">
          <% var used = [0123456789876543210]; %>
          <% var u = 1; %>
            <% for(i = 0; i < shifts.length; i++){
              var flag = true;
              for(j = 0; j < used.length; j++){
                if(used[j] == shifts[i].id){%>
                  <% flag = null; %>
                  <% break; %>
                <% } %>
              <% } %>
              <%if(flag){
                used[u] = shifts[i].id; %>
                <% u++; %>
                <input type="radio" name="person" value="<%= shifts[i].id %>"><%= shifts[i].name %>
              <% } %>
            <% } %>
            <input type="radio" name="person" value=0123456789876543210 checked="checked">全員
          <input type="submit" value="フィルタリング">
        </form>
        <a href="/confirm">フィルタリングを解除する</a>
      </div>
    </div>
    <% if(shifts == ""){ %>
      シフトはありません
    <%}else{ %>
      <table width="80%">
        <tr>
          <th align="center">ID</th>
          <th align="center">名前</th>
          <th align="center">勤務形態</th>
          <th align="center">日付</th>
          <th align="center">希望出勤時間</th>
          <th align="center">希望退勤時間</th>
          <th align="center">備考</th>
          <th align="center"></th>
        </tr>
        <% shifts.forEach((shift)=>{ %>
          <% if(shift.DAY != null){ %>
            <tr>
              <td align="center"><%= shift.id %></td>
              <td align="center"><%= shift.name %></td>
              <td align="center">
                <% if(shift.admin_flag == 1){ %>
                  正社員
                <% }else{ %>
                  アルバイト
                <% } %>
              </td>
              <td align="center"><%= shift.YEAR %>/<%= shift.MONTH %>/<%= shift.DAY %><% switch(shift.DAYOFWEEK){
                case 1: %>
                  (日)
                  <% break; %>
                <% case 2: %>
                  (月)
                  <% break; %>
                <% case 3: %>
                  (火)
                  <% break; %>
                <% case 4: %>
                  (水)
                  <% break; %>
                <% case 5: %>
                  (木)
                  <% break; %>
                <% case 6: %>
                  (金)
                  <% break; %>
                <% case 7: %>
                  (土)
                  <% break;} %></td>
              <td align="center">
        <form action="/correct" method="post">
          <select name="startHour">
            <% if(shift.starth == 00 ){%>
              <option value="00" selected>00</option>
            <% } else { %>
            <option value="00">00</option>
            <% } %>
            <% if(shift.starth == 1 ){%>
              <option value="01" selected>01</option>
            <% } else { %>
            <option value="01">01</option>
            <% } %>
            <% if(shift.starth == 2 ){%>
              <option value="02" selected>02</option>
            <% } else { %>
            <option value="02">02</option>
            <% } %>
            <% if(shift.starth == 3 ){%>
              <option value="03" selected>03</option>
            <% } else { %>
            <option value="03">03</option>
            <% } %>
            <% if(shift.starth == 4 ){%>
              <option value="04" selected>04</option>
            <% } else { %>
            <option value="04">04</option>
            <% } %>
            <% if(shift.starth == 5 ){%>
              <option value="05" selected>05</option>
            <% } else { %>
            <option value="05">05</option>
            <% } %>
            <% if(shift.starth == 6 ){%>
              <option value="06" selected>06</option>
            <% } else { %>
            <option value="06">06</option>
            <% } %>
            <% if(shift.starth == 7 ){%>
              <option value="07" selected>07</option>
            <% } else { %>
            <option value="07">07</option>
            <% } %>
            <% if(shift.starth == 8 ){%>
              <option value="08" selected>08</option>
            <% } else { %>
            <option value="08">08</option>
            <% } %>
            <% if(shift.starth == 9 ){%>
              <option value="09" selected>09</option>
            <% } else { %>
            <option value="09">09</option>
            <% } %>
            <% if(shift.starth == 10 ){%>
              <option value="10" selected>10</option>
            <% } else { %>
            <option value="10">10</option>
            <% } %>
            <% if(shift.starth == 11 ){%>
              <option value="11" selected>11</option>
            <% } else { %>
            <option value="11">11</option>
            <% } %>
            <% if(shift.starth == 12 ){%>
              <option value="12" selected>12</option>
            <% } else { %>
            <option value="12">12</option>
            <% } %>
            <% if(shift.starth == 13 ){%>
              <option value="13" selected>13</option>
            <% } else { %>
            <option value="13">13</option>
            <% } %>
            <% if(shift.starth == 14 ){%>
              <option value="14" selected>14</option>
            <% } else { %>
            <option value="14">14</option>
            <% } %>
            <% if(shift.starth == 15 ){%>
              <option value="15" selected>15</option>
            <% } else { %>
            <option value="15">15</option>
            <% } %>
            <% if(shift.starth == 16 ){%>
              <option value="16" selected>16</option>
            <% } else { %>
            <option value="16">16</option>
            <% } %>
            <% if(shift.starth == 17 ){%>
              <option value="17" selected>17</option>
            <% } else { %>
            <option value="17">17</option>
            <% } %>
            <% if(shift.starth == 18 ){%>
              <option value="18" selected>18</option>
            <% } else { %>
            <option value="18">18</option>
            <% } %>
            <% if(shift.starth == 19 ){%>
              <option value="19" selected>19</option>
            <% } else { %>
            <option value="19">19</option>
            <% } %>
            <% if(shift.starth == 20 ){%>
              <option value="20" selected>20</option>
            <% } else { %>
            <option value="20">20</option>
            <% } %>
            <% if(shift.starth == 21 ){%>
              <option value="21" selected>21</option>
            <% } else { %>
            <option value="21">21</option>
            <% } %>
            <% if(shift.starth == 22 ){%>
              <option value="22" selected>22</option>
            <% } else { %>
            <option value="22">22</option>
            <% } %>
            <% if(shift.starth == 23 ){%>
              <option value="23" selected>23</option>
            <% } else { %>
            <option value="23">23</option>
            <% } %>
            <% if(shift.starth == 24 ){%>
              <option value="24" selected>24</option>
            <% } else { %>
            <option value="24">24</option>
            <% } %>
          </select>
          :
          <select name="startMinute">
            <% if(shift.startm == 00 ){%>
              <option value="00" selected>00</option>
            <% } else { %>
            <option value="00">00</option>
            <% } %>
            <% if(shift.startm == 15 ){%>
              <option value="15" selected>15</option>
            <% } else { %>
            <option value="15">15</option>
            <% } %>
            <% if(shift.startm == 30 ){%>
              <option value="30" selected>30</option>
            <% } else { %>
            <option value="30">30</option>
            <% } %>
            <% if(shift.startm == 45 ){%>
              <option value="45" selected>45</option>
            <% } else { %>
            <option value="45">45</option>
            <% } %>
          </select>
                </td>
                <td align="center"><select name="endHour">
            <% if(shift.endh == 00 ){%>
              <option value="00" selected>00</option>
            <% } else { %>
            <option value="00">00</option>
            <% } %>
            <% if(shift.endh == 1 ){%>
              <option value="01" selected>01</option>
            <% } else { %>
            <option value="01">01</option>
            <% } %>
            <% if(shift.endh == 2 ){%>
              <option value="02" selected>02</option>
            <% } else { %>
            <option value="02">02</option>
            <% } %>
            <% if(shift.endh == 3 ){%>
              <option value="03" selected>03</option>
            <% } else { %>
            <option value="03">03</option>
            <% } %>
            <% if(shift.endh == 4 ){%>
              <option value="04" selected>04</option>
            <% } else { %>
            <option value="04">04</option>
            <% } %>
            <% if(shift.endh == 5 ){%>
              <option value="05" selected>05</option>
            <% } else { %>
            <option value="05">05</option>
            <% } %>
            <% if(shift.endh == 6 ){%>
              <option value="06" selected>06</option>
            <% } else { %>
            <option value="06">06</option>
            <% } %>
            <% if(shift.endh == 7 ){%>
              <option value="07" selected>07</option>
            <% } else { %>
            <option value="07">07</option>
            <% } %>
            <% if(shift.endh == 8 ){%>
              <option value="08" selected>08</option>
            <% } else { %>
            <option value="08">08</option>
            <% } %>
            <% if(shift.endh == 9 ){%>
              <option value="09" selected>09</option>
            <% } else { %>
            <option value="09">09</option>
            <% } %>
            <% if(shift.endh == 10 ){%>
              <option value="10" selected>10</option>
            <% } else { %>
            <option value="10">10</option>
            <% } %>
            <% if(shift.endh == 11 ){%>
              <option value="11" selected>11</option>
            <% } else { %>
            <option value="11">11</option>
            <% } %>
            <% if(shift.endh == 12 ){%>
              <option value="12" selected>12</option>
            <% } else { %>
            <option value="12">12</option>
            <% } %>
            <% if(shift.endh == 13 ){%>
              <option value="13" selected>13</option>
            <% } else { %>
            <option value="13">13</option>
            <% } %>
            <% if(shift.endh == 14 ){%>
              <option value="14" selected>14</option>
            <% } else { %>
            <option value="14">14</option>
            <% } %>
            <% if(shift.endh == 15 ){%>
              <option value="15" selected>15</option>
            <% } else { %>
            <option value="15">15</option>
            <% } %>
            <% if(shift.endh == 16 ){%>
              <option value="16" selected>16</option>
            <% } else { %>
            <option value="16">16</option>
            <% } %>
            <% if(shift.endh == 17 ){%>
              <option value="17" selected>17</option>
            <% } else { %>
            <option value="17">17</option>
            <% } %>
            <% if(shift.endh == 18 ){%>
              <option value="18" selected>18</option>
            <% } else { %>
            <option value="18">18</option>
            <% } %>
            <% if(shift.endh == 19 ){%>
              <option value="19" selected>19</option>
            <% } else { %>
            <option value="19">19</option>
            <% } %>
            <% if(shift.endh == 20 ){%>
              <option value="20" selected>20</option>
            <% } else { %>
            <option value="20">20</option>
            <% } %>
            <% if(shift.endh == 21 ){%>
              <option value="21" selected>21</option>
            <% } else { %>
            <option value="21">21</option>
            <% } %>
            <% if(shift.endh == 22 ){%>
              <option value="22" selected>22</option>
            <% } else { %>
            <option value="22">22</option>
            <% } %>
            <% if(shift.endh == 23 ){%>
              <option value="23" selected>23</option>
            <% } else { %>
            <option value="23">23</option>
            <% } %>
            <% if(shift.endh == 24 ){%>
              <option value="24" selected>24</option>
            <% } else { %>
            <option value="24">24</option>
            <% } %>
          </select>
          :
          <select name="endMinute">
            <% if(shift.endm == 00 ){%>
              <option value="00" selected>00</option>
            <% } else { %>
            <option value="00">00</option>
            <% } %>
            <% if(shift.endm == 15 ){%>
              <option value="15" selected>15</option>
            <% } else { %>
            <option value="15">15</option>
            <% } %>
            <% if(shift.endm == 30 ){%>
              <option value="30" selected>30</option>
            <% } else { %>
            <option value="30">30</option>
            <% } %>
            <% if(shift.endm == 45 ){%>
              <option value="45" selected>45</option>
            <% } else { %>
            <option value="45">45</option>
            <% } %>
          </select></td>
              <td align="center">
                <% var ex = shift.ex; %>
                <% var right_str = ex.replace(/確定/g,""); %>
                <%= right_str; %>
              </td>
              <td align="center">
                  <input type="hidden" name="date" value="<%= shift.update_date %>">
                  <input type="hidden" name="shiftId" value="<%= shift.shift_id %>">
                  <input type="hidden" name="year" value="<%= shift.YEAR %>">
                  <input type="hidden" name="month" value="<%= shift.MONTH %>">
                  <input type="hidden" name="day" value="<%= shift.DAY %>">
                  <input type="hidden" name="ex" value="<%= shift.ex %>">
                  <input type="submit" value="確定"
                    <% var str = shift.ex %>
                    <% if(str.includes("確定")){ %>
                      disabled
                    <% } %>>
                </form>
              </td>
            </tr>
          <% } %>
        <% }) %>
      </table>
      <table width="100%" border = "2" style="border-collapse: collapse;">
      <tr>
        <th align="center" style = "width : 100px;">名前</th>
        <% for(var hour = 8; hour <= 23; hour++){ %>
          <% for(var minute = 0; minute < 60; minute = minute + 15){ %>
            <% if(minute == 0){ %>
              <th style = "background-color : #d3d3d3; width : 100px;"><%= hour %></th>
            <% }else{ %>
              <th style = "width : 100px;">&nbsp;&nbsp;&nbsp;</th>
            <% } %>
          <% } %>
        <% } %>
      </tr>
        <% shifts.forEach((shift)=>{ %>
          <tr>
            <td style = "width : 100px;"><%= shift.name %></td>
            <% var flag = 0; %>
            <% for(var hour = 8; hour <= 23; hour++){ %>
              <% for(var minute = 0; minute < 60; minute = minute + 15){ %>
                <% if(shift.starth == hour && shift.startm == minute){ %>
                  <% flag = 1; %>
                <% } %>
                <% if(shift.endh == hour && shift.endm == minute){ %>
                  <% flag = 0; %>
                <% } %>
                <% if(shift.ex != null){ %>
                  <% str = shift.ex; %>
                  <% if(str.includes('確定')){ %>
                    <% confirm = 1; %>
                  <% }else{ %>
                    <% confirm = 0; %>
                  <% } %>
                <% } %>
                <td <% if(flag == 1){ %>
                  <% if(confirm == 1){ %>
                    style = "background-color : #ff4500; width : 100px;"
                  <% } else { %>
                    style = "background-color : #f0e68c; width : 100px;"
                  <% } %>
                <% } %></td>
              <% } %>
            <% } %>
          </tr>
        <% }) %>
    </table>
    <% } %>
    <button type="button" onClick="history.back()">戻る</button>
  </body>
</html>
